In [ ]:
# !pip install missingno

Requirement already satisfied: missingno in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from missingno) (2.0.2)
Requirement already satisfied: matplotlib in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from missingno) (3.10.1)
Requirement already satisfied: scipy in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from missingno) (1.15.2)
Requirement already satisfied: seaborn in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from seaborn->missingno) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\nuria\onedrive\escritorio\ml_student_depression\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.17.0)

## Librer√≠as

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from missingno import matrix
import missingno as msno

## Carga de datos

In [2]:
df = pd.read_csv(r'C:\Users\nuria\OneDrive\Escritorio\ML_student_depression\data\raw\Student Depression Dataset.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

## Tratamiento de missings

In [3]:
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [4]:
# Imputar los valores nan a la mediana
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
df['Financial Stress'] = imputer.fit_transform(df[['Financial Stress']])
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [5]:
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

## Tratamiento de outliers

In [6]:
# Identificar los outliers usando el m√©todo IQR
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

# Definir los l√≠mites para considerar un outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

'''Imputaci√≥n de outliers de la columna Age a la moda'''

# Calcular la moda de la columna Age
mode_age = df['Age'].mode()[0]  # Obtenemos el primer valor de la moda

# Imputar los outliers a la moda
df['Age'] = df['Age'].apply(lambda x: mode_age if x < lower_bound or x > upper_bound else x)

In [7]:
# Calcular la media de la columna CGPA
mean_cgpa = df['CGPA'].mean()

'''Imputaci√≥n de outliers de la columna CGPA a la media'''

# Imputar los outliers a la media
df['CGPA'] = df['CGPA'].apply(lambda x: mean_cgpa if x < lower_bound or x > upper_bound else x)

## Feature engineering

In [8]:
df['Degree'].unique()

array(['B.Pharm', 'BSc', 'BA', 'BCA', 'M.Tech', 'PhD', 'Class 12', 'B.Ed',
       'LLB', 'BE', 'M.Ed', 'MSc', 'BHM', 'M.Pharm', 'MCA', 'MA', 'B.Com',
       'MD', 'MBA', 'MBBS', 'M.Com', 'B.Arch', 'LLM', 'B.Tech', 'BBA',
       'ME', 'MHM', 'Others'], dtype=object)

In [9]:
# One-Hot Encoding para crear columnas binarias a partir de la columna 'Degree'

df_one_hot = pd.get_dummies(df['Degree'], prefix='Degree')
df = pd.concat([df, df_one_hot], axis=1)
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Degree_MA,Degree_MBA,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.970000,2.0,0.0,...,False,False,False,False,False,False,False,False,False,False
1,8,Female,24.0,Bangalore,Student,2.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,False,False,False
3,30,Female,28.0,Varanasi,Student,3.0,0.0,7.656104,2.0,0.0,...,False,False,False,False,False,False,False,False,False,False
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.130000,3.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df_onehot = pd.get_dummies(df['Gender'], prefix='Gender')
df = pd.concat([df, df_onehot], axis=1)
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MSc,Degree_Others,Degree_PhD,Gender_Female,Gender_Male
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.970000,2.0,0.0,...,False,False,False,False,False,False,False,False,False,True
1,8,Female,24.0,Bangalore,Student,2.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,False,True,False
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,False,False,True
3,30,Female,28.0,Varanasi,Student,3.0,0.0,7.656104,2.0,0.0,...,False,False,False,False,False,False,False,False,True,False
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.130000,3.0,0.0,...,False,False,False,False,False,False,False,False,True,False

In [11]:
df_onehot = pd.get_dummies(df['Profession'], prefix='Profession')
df = pd.concat([df, df_onehot], axis=1)
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Profession_Digital Marketer,Profession_Doctor,Profession_Educational Consultant,Profession_Entrepreneur,Profession_Lawyer,Profession_Manager,Profession_Pharmacist,Profession_Student,Profession_Teacher,Profession_UX/UI Designer
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.970000,2.0,0.0,...,False,False,False,False,False,False,False,True,False,False
1,8,Female,24.0,Bangalore,Student,2.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,True,False,False
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.656104,5.0,0.0,...,False,False,False,False,False,False,False,True,False,False
3,30,Female,28.0,Varanasi,Student,3.0,0.0,7.656104,2.0,0.0,...,False,False,False,False,False,False,False,True,False,False
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.130000,3.0,0.0,...,False,False,False,False,False,False,False,True,False,False

In [12]:
df.columns

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression',
       'Degree_B.Arch', 'Degree_B.Com', 'Degree_B.Ed', 'Degree_B.Pharm',
       'Degree_B.Tech', 'Degree_BA', 'Degree_BBA', 'Degree_BCA', 'Degree_BE',
       'Degree_BHM', 'Degree_BSc', 'Degree_Class 12', 'Degree_LLB',
       'Degree_LLM', 'Degree_M.Com', 'Degree_M.Ed', 'Degree_M.Pharm',
       'Degree_M.Tech', 'Degree_MA', 'Degree_MBA', 'Degree_MBBS', 'Degree_MCA',
       'Degree_MD', 'Degree_ME', 'Degree_MHM', 'Degree_MSc', 'Degree_Others',
       'Degree_PhD', 'Gender_Female', 'Gender_Male', 'Profession_Architect',
       'Profession_Chef', 'Profession_Civil Engineer',
       'Profession_Content Writer', 'Profession_Digital Marketer',
       'Profession_Doctor', 'Profession_Educational Consultant',
       'Profession_Entrepreneur', 'Profession_Lawyer', 'Profession_Manager',
       'Profession_Pharmacist', 'Profession_Student', 'Profession_Teacher',
       'Profession_UX/UI Designer'],
      dtype='object')

### Estandarizaci√≥n de datos de las variables num√©ricas

In [ ]:
# Estandarizaci√≥n de los datos 
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
#df['Degree_Scaled'] = scaler.fit_transform(df[['Degree']])

In [16]:
# Escalar datos con Min-max-scaler
from sklearn.preprocessing import MinMaxScaler

numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

## Eliminaci√≥n de features

In [ ]:
# eliminar = ['id', 'City', 'Profession', 'Work Pressure', 'Job Satisfaction', 'Degree']
# df = df.drop(columns=eliminar) 
# df.head()

In [17]:
print(df.shape)
print('-----------------------------------------------------------------------------------')
print(df.columns)
print('-----------------------------------------------------------------------------------')
print(df.info())
print('-----------------------------------------------------------------------------------')

(27901, 62)
-----------------------------------------------------------------------------------
Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression',
       'Degree_B.Arch', 'Degree_B.Com', 'Degree_B.Ed', 'Degree_B.Pharm',
       'Degree_B.Tech', 'Degree_BA', 'Degree_BBA', 'Degree_BCA', 'Degree_BE',
       'Degree_BHM', 'Degree_BSc', 'Degree_Class 12', 'Degree_LLB',
       'Degree_LLM', 'Degree_M.Com', 'Degree_M.Ed', 'Degree_M.Pharm',
       'Degree_M.Tech', 'Degree_MA', 'Degree_MBA', 'Degree_MBBS', 'Degree_MCA',
       'Degree_MD', 'Degree_ME', 'Degree_MHM', 'Degree_MSc', 'Degree_Others',
       'Degree_PhD', 'Gender_Female', 'Gender_Male', 'Profession_Architect',
       'Profession_Chef', 'Profession_Civil Engineer',
       'Profession_Content Writer', 'Profession_Digital Marketer',
       'Profession_Doctor', 'Profession_Educational Consultant',
       'Profession_Entrepreneur', 'Profession_Lawyer', 'Profession_Manager',
       'Profession_Pharmacist', 'Profession_Student', 'Profession_Teacher',
       'Profession_UX/UI Designer'],
      dtype='object')
-----------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  float64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  float64
 18  Degree_B.Arch                          27901 non-null  bool
 19  Degree_B.Com                           27901 non-null  bool
 20  Degree_B.Ed                            27901 non-null  bool
 21  Degree_B.Pharm                         27901 non-null  bool
 22  Degree_B.Tech                          27901 non-null  bool
 23  Degree_BA                              27901 non-null  bool
 24  Degree_BBA                             27901 non-null  bool
 25  Degree_BCA                             27901 non-null  bool
 26  Degree_BE                              27901 non-null  bool
 27  Degree_BHM                             27901 non-null  bool
 28  Degree_BSc                             27901 non-null  bool
 29  Degree_Class 12                        27901 non-null  bool
 30  Degree_LLB                             27901 non-null  bool
 31  Degree_LLM                             27901 non-null  bool
 32  Degree_M.Com                           27901 non-null  bool
 33  Degree_M.Ed                            27901 non-null  bool
 34  Degree_M.Pharm                         27901 non-null  bool
 35  Degree_M.Tech                          27901 non-null  bool
 36  Degree_MA                              27901 non-null  bool
 37  Degree_MBA                             27901 non-null  bool
 38  Degree_MBBS                            27901 non-null  bool
 39  Degree_MCA                             27901 non-null  bool
 40  Degree_MD                              27901 non-null  bool
 41  Degree_ME                              27901 non-null  bool
 42  Degree_MHM                             27901 non-null  bool
 43  Degree_MSc                             27901 non-null  bool
 44  Degree_Others                          27901 non-null  bool
 45  Degree_PhD                             27901 non-null  bool
 46  Gender_Female                          27901 non-null  bool
 47  Gender_Male                            27901 non-null  bool
 48  Profession_Architect                   27901 non-null  bool
 49  Profession_Chef                        27901 non-null  bool
 50  Profession_Civil Engineer              27901 non-null  bool
 51  Profession_Content Writer              27901 non-null  bool
 52  Profession_Digital Marketer            27901 non-null  bool
 53  Profession_Doctor                      27901 non-null  bool
 54  Profession_Educational Consultant      27901 non-null  bool
 55  Profession_Entrepreneur                27901 non-null  bool
 56  Profession_Lawyer                      27901 non-null  bool
 57  Profession_Manager                     27901 non-null  bool
 58  Profession_Pharmacist                  27901 non-null  bool
 59  Profession_Student                     27901 non-null  bool
 60  Profession_Teacher                     27901 non-null  bool
 61  Profession_UX/UI Designer              27901 non-null  bool
dtypes: bool(44), float64(10), object(8)
memory usage: 5.0+ MB
None
-----------------------------------------------------------------------------------

In [18]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
df_categorical =[]
for column in df.columns:
    if df[column].dtypes=="object":
        df_categorical.append(column)
for column in df_categorical: 
    df[column] = encode.fit_transform(df[column])

In [19]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Profession_Digital Marketer,Profession_Doctor,Profession_Educational Consultant,Profession_Entrepreneur,Profession_Lawyer,Profession_Manager,Profession_Pharmacist,Profession_Student,Profession_Teacher,Profession_UX/UI Designer
0,0.000000,1,0.60,51,11,1.0,0.0,0.588000,0.4,0.0,...,False,False,False,False,False,False,False,True,False,False
1,0.000043,0,0.24,3,11,0.4,0.0,0.062442,1.0,0.0,...,False,False,False,False,False,False,False,True,False,False
2,0.000171,1,0.52,44,11,0.6,0.0,0.062442,1.0,0.0,...,False,False,False,False,False,False,False,True,False,False
3,0.000199,0,0.40,49,11,0.6,0.0,0.062442,0.4,0.0,...,False,False,False,False,False,False,False,True,False,False
4,0.000213,0,0.28,16,11,0.8,0.0,0.252000,0.6,0.0,...,False,False,False,False,False,False,False,True,False,False

In [20]:
# Seleccionar solo las columnas de tipo booleano
boolean_cols = df.select_dtypes(include=['bool']).columns

# Reemplazar True por 1 y False por 0 en las columnas booleanas
df[boolean_cols] = df[boolean_cols].replace({True: 1, False: 0})

C:\Users\nuria\AppData\Local\Temp\ipykernel_5528\1666673529.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[boolean_cols] = df[boolean_cols].replace({True: 1, False: 0})

In [23]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Profession_Digital Marketer,Profession_Doctor,Profession_Educational Consultant,Profession_Entrepreneur,Profession_Lawyer,Profession_Manager,Profession_Pharmacist,Profession_Student,Profession_Teacher,Profession_UX/UI Designer
0,0.000000,1,0.60,51,11,1.0,0.0,0.588000,0.4,0.0,...,0,0,0,0,0,0,0,1,0,0
1,0.000043,0,0.24,3,11,0.4,0.0,0.062442,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,0.000171,1,0.52,44,11,0.6,0.0,0.062442,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
3,0.000199,0,0.40,49,11,0.6,0.0,0.062442,0.4,0.0,...,0,0,0,0,0,0,0,1,0,0
4,0.000213,0,0.28,16,11,0.8,0.0,0.252000,0.6,0.0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
# Guarda el DataFrame modificado en un nuevo archivo CSV
df.to_csv("dataset_limpio_FE.csv", index=False)